.container-fluid
  .row
    #table-area{:class => 'col-sm-9 col-md-9'}
      .panel{:class => 'panel-default'}
        .panel-heading
          %strong #{$zone[0]->e_full_name}
          %input{:type => 'hidden', :id => 'zone_id', :value => '#{!empty($zone_id) ? $zone_id : ""}'}
          %input{:type => 'hidden', :id => 'order_id', :value => '#{!empty($zone_id) ? $order_id : ""}'}
        .panel-body{:id => 'js-table-area'}
          - for ($i=1; $i < $zone[0]->value1; $i++):
            .col-md-2
              - if(empty($table_order[$i])):
                %button{:class => 'btn btn-info table-area js-table-btn', :data-table => '#{$i}', :data-zone => '#{$zone[0]->e_abb_name}'} =$i
              - elseif($table_order[$i] == 'existed'):
                %button{:class => 'btn btn-default table-area js-table-btn', :data-table => '#{$i}', :data-zone => '#{$zone[0]->e_abb_name}'} =$i
              - elseif($table_order[$i] == 'booked'):
                %button{:class => 'btn btn-warning disabled table-area', :data-table => '#{$i}', :data-zone => '#{$zone[0]->e_abb_name}'} =$i
              - endif
          - endfor
    #pos-list{:class => 'col-md-3'}
      .row
        .panel{:class => 'panel-default'}
          .panel-heading
            .row
              %span{:class => 'label-table col-md-2'} โต๊ะ
              #js-table-list{:class => 'col-md-10'}
                - for ($i=1; $i < $zone[0]->value1; $i++):
                  - if(empty($table_order[$i])):
                    %span{:class => 'label label-default js-table-number hide' , :data-table => '#{$i}'} =$i
                  - elseif($table_order[$i] == 'existed'):
                    %span{:class => 'label label-default js-table-number' , :data-table => '#{$i}'} =$i
                  - endif
                - endfor
            .row
              .product-selection{:class => 'col-md-12'}
                %button{:class => 'btn btn-primary js-product-selection col-md-12', :data-toggle => 'modal', :data-target => '#productModal'} เลือกสินค้า

          %table{:class => 'table'}
            %tr
              %th{:class => 'col-md-1'}
                #
              %th{:class => 'col-md-6'}
                รายการสั่งซื้อ
              %th{:class => 'col-md-3'}
                จำนวน
              %th{:class => 'col-md-2'}
                รวม
          .panel-body{:id => 'order-list'}
            .row
              %table{:class => 'table table-striped js-order-detail-table'}
                - if(!empty($order_details)):
                  - $i = 1
                  - foreach ($order_details as $item):
                    %tr{:class => 'js-order-detail-row', :data-id => '#{$item->mp_id}'}
                      %td #{$i}
                      %td{:class => 'col-md-1'}
                        %button{:class => 'btn btn-danger js-order-detail-remove', :data-id => '#{$item->mp_id}'}
                          %i{:class => 'fa fa-close'}
                      %td{:class => 'col-md-5'} 
                        %span{:class => 'js-order-detail-name', :data-id => '#{$item->mp_id}'}
                          = $item->t_full_name
                      %td{:class => 'col-md-3'}
                        %input{:type =>'number', :class => 'col-md-12 js-order-detail-qty', :data-id => '#{$item->mp_id}', :value => '#{$item->qty}'}
                      %td{:class => 'col-md-2'} 
                        %span{:class => 'js-order-detail-total', :data-id => '#{$item->mp_id}'}
                          = number_format($item->total/100, 2, '.', ',')
                    - $i++
                  - endforeach
                - endif

          .panel-footer
            %span{:class => 'col-md-4'} Total
            .input-group{:class => 'col-md-8'}
              %span{:class => 'input-group-addon'} ฿
              %input{:type => 'text', :class => 'form-control',:id => 'js-subtotal', :readonly => '', :value => '#{!empty($order) ? number_format($order->subtotal/100, 0, ".", ",") : 0}' } 
              %span{:class => 'input-group-addon'} .00

        #pos-btn-panel
          %button{:class => 'btn btn-success col-md-5'} 
            %i{:class => 'fa fa-money'} 
            %span รับเงิน
          %button{:class => 'btn btn-info col-md-5 col-md-offset-2 js-print'} 
            %i{:class => 'fa fa-print'}
            %span Print
          %a{:href => '/pos'}
            %button{:class => 'btn btn-default col-md-5'} 
              %i{:class => 'fa fa-reply'}
              %span Back
          %button{:class => 'btn btn-danger col-md-5 col-md-offset-2',:data-toggle => "modal", :data-target =>"#confirm-delete-order"}
            %i{:class => 'fa fa-trash'}
            %span ลบ
#confirm-delete-order-details{:class => 'modal fade delete-modal', :tabindex => '-1', :role => 'dialog', :aria-hidden => 'true', :data-id => '', :data-product => ''}
  .modal-dialog
    .modal-content
      .modal-body
        %strong 
          %i{:class => 'fa fa-trash'} 
          Do you want to delete this goods?
        .button-box
          %a{:class => 'btn btn-danger confirm-delete-order-details'} Delete
          %button{:type => 'button', :class => 'btn btn-default', :data-dismiss => 'modal'} Cancel
#confirm-delete-order{:class => 'modal fade delete-modal', :tabindex => '-1', :role => 'dialog', :aria-hidden => 'true', :data-id => ''}
  .modal-dialog
    .modal-content
      .modal-body
        %strong 
          %i{:class => 'fa fa-trash'} 
          Do you want to delete this order?
        .button-box
          %a{:class => 'btn btn-danger confirm-delete-order'} Delete
          %button{:type => 'button', :class => 'btn btn-default', :data-dismiss => 'modal'} Cancel
          
= $product_modal

:javascript
  var fullScreenPanel = $(window).height() - 100;
  var fullScreenOrderList = $(window).height() - 360;

  $('#js-table-area').height(fullScreenPanel).css('overflow' , 'auto');
  $('#order-list').height(fullScreenOrderList).css('overflow' , 'auto');

  $('.js-table-btn').click(function(){
    var tableNumber = $(this).data('table');
    var tableZone = $(this).data('zone');
    var order = $('#order_id').val();
    var zone_id = $('#zone_id').val();
    var base = this;

    if($(this).hasClass('btn-info')){  
      $.ajax({
        method: "POST",
        url: "/pos/add_table",
        data: { table: tableNumber,
                zone:  tableZone,
                order: order,
                zone_id: zone_id},
        datatype: "json",
        success: function(data){
            obj = JSON.parse(data);

            if(obj.order_id != order){
              $('#order_id').val(obj.order);
            }

            $(base).removeClass('btn-info');
            $(base).addClass('btn-default');
            addTableLabel(tableNumber);
        }
      });
    }else if($(this).hasClass('btn-default')){
      $.ajax({
        method: "POST",
        url: "/pos/remove_table",
        data: { table: tableNumber,
                zone:  tableZone,
                order: order},
        datatype: "json",
        success: function(){
            $(base).addClass('btn-info');
            $(base).removeClass('btn-default');
            removeTableLabel(tableNumber);
        }
      });
    }
  });

  $('.confirm-delete-order').click(function(){
      var order = $('#order_id').val();
      $.ajax({
        method: "POST",
        url: "/pos/remove",
        data: { 
                order: order
              },
        success: function(){
          window.location.replace('/pos');
        }
      });
  });

  $('.js-print').click(function(){
      var order = $('#order_id').val();
      window.open('/pos/print_bill/?order='+order, "popupWindow", "width=300,height=600,scrollbars=yes");
  });

  function addTableLabel(number) {
    $('.js-table-number').each(function(){
      if($(this).data('table') == number){
        $(this).removeClass('hide');
      }
    });    
  }

  function removeTableLabel(number) {
    $('.js-table-number').each(function(){
      if($(this).data('table') == number){
        $(this).addClass('hide');
      }
    });    
  }

